
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
target/
*.log
*.log.*
.classpath
.checkstyle

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target


# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

#helm
dist/
*.tgz
*.lock
.DS_Store