<!doctype html>
	<body>
		<p>Please find the details below:</p>
		<ol style="line-height:120%">
			<li>Name      : <span>${name}</span></li>
			<li>Surname : <span>${surname}</span></li>
			<li>Passport Number : <span>${passportNumber}</span></li>
			<li>Category of the Application : <span>${categoryoftheApplication}</span></li>
			<li>Employer Company Name : <span>${employerCompanyName}</span></li>
			<li>Name of the Positions : <span>${nameofthePositions}</span></li>
			<li>Numeric code of the Positions : <span>${numericcodeofthePositions}</span></li>
		</ol>
	</body>
</html>